.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
body, header {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,244,220,0.46823940757943805) 100%);
}

li {
    float: left;
}

.menupunkt a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.rightalign {
    float: right;
}

.login {
    float: right;
    padding-right: 2%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
    column-span: 200;
}

form {
    padding-top: 2%;
}

.udgifter {
    padding-top: 1%;
    padding-left: 5px;
}

.oversigt {
    position: absolute;
    top: 40%;
    left: 45%;
    margin-top: -75px;
    margin-left: -100px;
}

.footer {
    padding-top: 5%;
}

.header {
    padding-top: 5px;
}

.input_section{
    padding-top: 15px;
}