.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #553D67;
}

body, header {
    background: rgb(36, 37, 130);
}

li {
    float: left;
    color: azure;
}

.menupunkt a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F64C72;
}

.rightalign {
    float: right;
}

.login {
    float: right;
    padding-right: 2%;
    color: azure;
}

table, th, td {
  border: 1px solid black;
  color: azure;
  border-color: azure;
}

th, td {
    column-span: 200;
    color: azure;
}

form {
    padding-top: 2%;
}

.udgifter {
    padding-top: 1%;
    padding-left: 5px;
    color: azure;
}

.random_fact {
    position: absolute;
    top: 30%;
    left: 45%;
    margin-top: -75px;
    margin-left: -100px;
    color: azure;
}

.oversigt {
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -75px;
    margin-left: -100px;
    color: azure;
}

.footer {
    padding-top: 5%;
    color: azure;
}

.header {
    padding-top: 5px;
    background: rgb(36, 37, 130);
}

.input_section{
    padding-top: 15px;
    color: azure;
}

.overskrift {
    color: #F64C72;
}